{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content|raw }}

    {% for image in page.media.images %}
        <div class="image-surround">
	  <a class="gallery" href="#" data-featherlight="{{ image|raw }}">
<img src="{{ image|raw }}" width="300" height="200" alt="image-info"></a>
        </div>
        <div class="image-info">
            <h2>{{ image.meta.title }}</h2>
            <p>{{ image.meta.description }}</p>
        </div>
    {% endfor %}

{% endblock %}
